* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }

/*main*/

main {
    justify-content: center;
    text-align: center;
}

main .content {
    margin: 0 auto;
}

/*left*/

main .left {
    width: 20%;
    text-align: center;
    display: inline-block;
}

main .left h1 {
    text-align: left;
}

/*right*/

main .right {
    width: 20%;
    display: inline-block;
}

/*logo*/

span#logo span#yellow {
    color: rgb(230, 234, 0);
}

span#logo span#blue {
    color: rgb(0, 106, 255);
}

span#logo span.Courier_New {
    font-family: 'Courier New', Courier, monospace;
}

span#logo span#red {
    color: rgba(215, 0, 0, 0.837);
}

/*table*/

.content {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

main .content table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.466);
}

table {
    width: 850px;
    background-color: rgba(255, 255, 255, 0.185);
}

/*disk*/

.disk {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 5;
    height: 8.5vh;
}

.white {
    background: white;
}

.black {
    background: black;
}

.clickable {
    border-radius: 0;
    background: rgba(104, 104, 104, 0.596);
}

@media screen and (max-width: 880px) {
    table {
        width: 85vw;
    }
    table tr {
        height: 1vw;
    }
}

.valami {
    display: none;
}