* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}


/*main*/

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

main .content {
    width: 50%;
}

main .panel {
    border-radius: 5px;
    padding-top: 2%;
    width: 35vh;
    height: 50vh;
    margin: 5vh auto;
    color: white;
    background-color: rgba(143, 143, 143, 0.415);
}


/*left*/

main .left p {
    line-height: 2vh;
    margin-top: 3vh;
}

main .left button {
    margin-bottom: 1vh;
}

main .left .buttons {
    margin: 3vh 0 2vh;
}

main .left .buttons button:focus {
    background-color: rgb(255, 255, 255);
}


/*right*/

main .right h1 {
    margin-bottom: 3vh;
}

main .right p {
    line-height: 2vh;
    margin-top: 3vh;
}

main .right p span {
    font-weight: bold;
}


/*logo*/

header h1 {
    text-align: center;
    margin: 5vh 0;
}

span#logo span#yellow {
    color: rgb(230, 234, 0);
}

span#logo span#blue {
    color: rgb(0, 106, 255);
}

span#logo span.Courier_New {
    font-family: 'Courier New', Courier, monospace;
}

span#logo span#red {
    color: rgba(215, 0, 0, 0.837);
}


/*table*/

main .content table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td {
    border: 1px solid rgba(0, 0, 0, 0.466);
    width: 8.5vh;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.185);
}


/*disk*/

.disk {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 8vh;
    transition: transform 0.2s 0s ease-in;
}

.white {
    background: white;
    box-shadow: 2px 4px 4px #222;
}

.black {
    background: black;
    box-shadow: 2px 4px 4px rgb(75, 75, 75);
}

.turn-effect {
    transform: rotateY( 90deg );
}

.clickable {
    cursor: pointer;
    border-radius: 0;
    background: rgba(104, 104, 104, 0.596);
}

/*game_over*/

main .game_over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.866);
}

main .game_over .over-content {
    border-radius: 5px;
    width: 25%;
    padding: 2%;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(190, 190, 190, 0.375);
}

main .game_over .over-content img {
    width: 50%;
    margin-bottom: 2vh;
}

main .game_over .over-content .buttons {
    margin-top: 2.5vh;
    justify-content: space-between;
}


/*buttons*/

main button {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    width: 25%;
    padding: 2%;
    transition: .3s;
}

main button:hover {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1180px) {
    main {
        display: block;
    }
    main .panel {
        border-radius: 5px;
        padding-top: 2%;
        width: 80%;
        height: 50vh;
    }
    main .content {
        margin: 0 auto;
        width: 80%;
    }
    table tr td {
        width: 10vh;
    }
    main .game_over .over-content {
        padding: 5%;
        width: 70%;
    }
}