body {
    text-align: center;
    color: white;
    background-color: black;
}

.cards {
    text-align: center;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.card {
    display: inline;
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    color: gray;
}

a:hover {
    color: hotpink;
}

a:visited {
    color:lime;
}

#hidden {
    color: black;
}

.bioText {
    display: none;
}