* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(79,79,79,1) 100%, rgba(0,212,255,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(79,79,79,1) 100%, rgba(0,212,255,1) 100%); /*for_browser_support*/
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(79,79,79,1) 100%, rgba(0,212,255,1) 100%); /*for_browser_support*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*logo*/

header h1 {
    text-align: center;
    margin-top: 3em;
}

header h1 span#logo span#yellow {
    color: rgb(230, 234, 0);
}

header h1 span#logo span#blue {
    color: rgb(0, 106, 255);
}

header h1 span#logo span.Courier_New {
    font-family: 'Courier New', Courier, monospace;
}

header h1 span#logo span#red {
    color: rgba(215, 0, 0, 0.837);
}

/*main*/

main {
    margin: auto;
}

main .main-containr {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .main-containr .nav_option {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 35%;
    height: 35%;
    border: 2px rgb(196, 196, 196) solid;
    transition: .3s;
}

main .main-containr .nav_option img {
    transition: transform .3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .main-containr .nav_option .container-text h2 {
    transition: visibility 0s, opacity .3s linear;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

main .main-containr .nav_option:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.356);
    border: 2px rgb(79, 79, 79) solid;
}

main .main-containr .nav_option:hover .container-text h2 {
    visibility: visible;
    opacity: 1;
}

main .main-containr .nav_option:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}

@media screen and (max-width: 700px) {
    main .main-containr {
        margin: 10%;
        display: block;
    }

    main .main-containr .nav_option {
        width: 100%;
        height: 100%;
    }

    main .main-containr .nav_option .container-text h2 {
        visibility: visible;
        opacity: 1;
    }
    
    main .main-containr .nav_option img {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2); 
        transform: scale(1.2); 
    }
}